@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/*fonts*/
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;;
  font-style: normal;
}

/*shared styles*/
.header-span{
    color: rgba(233, 90, 8, 1.00);
}
header,main{
    max-width: 1140px;
    margin: 0px auto;
}

.btn-primary{
    
    width: 270px;
    height: 50px;
    border: none;
    background-color: rgba(233, 90, 8, 1);
    color:rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 600;
}
/*body*/
body{
    background-color: #f5f8ff;
}
/*header*/

/*nav*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 48px;
    align-items: center;
    list-style: none;
   color: rgba(137, 135, 161, 1);
}
.navbar ul a{
     text-decoration: none;
     color: rgba(137, 135, 161, 1);
}
.navbar ul .nav-ul-dark{
    color: rgba(37, 36, 50, 1);
}

/*banner*/

.banner{
    padding-top: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    font-weight: 700;
    font-size: 4rem;
    color: rgba(0, 0, 0, 1.00);
}
.banner p{
    font-weight: 400;
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.50)
}
.banner .img-container{
    width: 100%;
}
/* card-section*/
.card-section-title{
    text-align: center;
}
.card-section-title h1{
    font-size: 3.12rem;
    font-weight: 700;
}
.card-section-title p{
    font-weight: 400;
    font-size: 1.37;
    color: rgba(0, 0, 0, 0.5);
    
}
.card-section .cards{
    width: 270px;
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
}
.card-section .cards img{
    width: 100%;
}
.card-section .cards h3{
    font-size: 1.37rem;
    font-weight: 500;
    color: rgba(17, 17, 17, 1);
}
.card-section .cards h2{
font-size: 1.37rem;
    font-weight: 700;
    color: rgba(17, 17, 17, 1);
}

/*Plants-Lover-Section-content*/
.Plants-Lover-Section{
    position: relative;
}
.Plants-Lover-Section-verifcation-logo{
    position:absolute;
    top: -90px;
    right: 500px;
    width: 270px;
    height: 270px;
}
.Plants-Lover-Section-content{
    margin-top: 210px;
    display: flex;
    justify-content: space-between;
    padding: 38px 0px;
}
.Plants-Lover-Section-content img{
    width: 100%;
}
.Plants-Lover-Section-content h1{
    font-weight: 700;
    font-size: 3.125rem;
    color: rgba(0, 0, 0, 1);
}
.Plants-Lover-Section-content ul li{
    font-weight: 400;
    font-size: 1.4;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}
.Plants-Lover-Section-content-right{
    margin-top: 20px;
    max-width: 540px;
}

/*mobile responsive*/
@media screen and (max-width:576px) {
    li.hide{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        padding: 0px;
    }
    .banner h1{
    font-size: 1.7rem;
}
.banner p{
    font-size: 0.9rem;
}
.banner-content{
    padding: 4px 16px 4px 16px;
}
.card-section-title h1{
    font-size: 1.5rem;
}
.card-section-title{
    padding: 0px 28px;
}
.card-section .cards{
 grid-template-columns: repeat(2,1fr);
 width: 170px;
 padding: 14px 28px;
}
.card-section .cards button{
    width: 170px;
}
.Plants-Lover-Section-content{
    flex-direction: column;
    margin: 0px;
    gap: 0px;
}
.Plants-Lover-Section-content ul li{
    padding: 10px;
    margin-top: 10px;
}
.Plants-Lover-Section-content h1{
    font-size: 1.7rem;
}
}